<div class="ai-chatbot">
    <h1>Angular OpenAI Chat Bot</h1>
    <div class="chat-container">
        <div *ngFor="let message of chatMessages" [ngClass]="message.role">
            {{ message.content }}
        </div>
    </div>

    <div class="input-container">
        <label class="label" *ngIf="chatMessages.length == 0; else dialogInfo" for="nameField">Your message</label>
        <div class="input-wrapper">
            <input [(ngModel)]="userMessage" (keyup.enter)="sendMessageStream()" placeholder="Enter your message" />
            <button (click)="sendMessageStream()">Send</button>
        </div>
    </div>
</div>

<ng-template #dialogInfo>
    <span [className]="'float-right'">Total messages: {{chatMessages.length}}</span>
</ng-template>